<div class="main-navigation_top-bar">
  <a href="/" class="main-navigation_logo-mobile"></a>
  <svg class="svg_menu color-text_white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_menu"></use></svg>
</div>

<ul>

  <li>
    <a href="/news">{{t "News" }}</a>
  </li>

  <li>
    <a href="/kursy">{{t "Treningi" }}</a>
  </li>

  <li>
    <a href="/dla-kogo">{{t "Dla kogo" }}</a>
  </li>

  <li>
    <a href="/jakanie">{{t "ESBS" }}</a>

    <ul>
      <li><a href="/jakanie-objawy">{{t "Objawy" }}</a></li>
      <li><a href="/jakanie-ograniczenia">{{t "Ograniczenia" }}</a></li>
    </ul>
  </li>

  <li>
    <a href="/wywiady">{{t "Wywiady" }}</a>
  </li>

  <li>
    <a href="/filmy">{{t "Filmy" }}</a>
  </li>

  <li>
    <a href="/historie">{{t "Historie" }}</a>
  </li>

  <li>
    <a href="/opinie">{{t "Opinie" }}</a>
  </li>

</ul>
