<input type="checkbox" id={{ for }} name={{ name }} checked={{ checked }}>
<span>
	<svg class="svg_ok"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_ok"></use></svg>
</span>
<label for={{ for }}>{{ value }}</label>
