<div class="page-panel_diaries-user">

	{{ main-panel-header
	  topText="Nagrania"
	  bottomText=bottomText
	  secondText=secondText
	}}


	<div class="page-panel_inner page-panel_diaries-user_inner">

		<div class="page-panel_diaries-user_list {{if model.records.isLoading "a-container-loading" }}">

			{{#each model.records.years as |year| }}
				<div class="page-panel_diaries-user_year">

					<span {{ action "toggleExpandedYear" year }}>{{ year.name }}</span>

					{{#if year.expanded }}
						<div class="page-panel_diaries-user_months">
							{{#each year.months as |month| }}

								<div class="page-panel_diaries-user_month">
									{{ month.displayName }}

									<ul>
										{{#each month.days as |day| }} 

											<li class="{{if (compare day.id model.records.selectedRecordId) 'page-panel_diaries-user_day--selected' }}" {{ action "selectDay" day }}>
												{{#if (compare day.id "new") }}

													{{#link-to "app.panel.records-user.new" classNames="page-panel_diaries-user_day" }}
														{{ day.date }}
													{{/link-to}}

												{{else}}

													{{#link-to "app.panel.records-user.record" day.id classNames="page-panel_diaries-user_day" }}
														{{ day.date }}
													{{/link-to}}

												{{/if}}
											</li>

										{{/each}}
									</ul>
								</div>

							{{/each}}
						</div>
					{{/if}}

				</div>
			{{/each}}

		</div>

		{{ outlet }}

	</div>

</div>