<div class="main-page page-login_forgot-passord">

  <form {{ action "sendResetPasswordToken" on="submit" }}>
    <h1 class="main-h1-header">{{t "Wprowadź swój email" }}</h1>

    {{#if model.emailSent }}

      <div class="main-doneinfo-container">
        <span class="color-text_green">{{t "Link został wysłany na adres" email=model.email }}</span>
      </div>

      <div class="main-page_form_buttons">
        <button class="button button-wide button-filled color-bg_orange" {{ action "goBack" }}>{{t "Powrót" }}</button>
      </div>

    {{ else }}

      {{ input
        type="text"
        classNames="input"
        classNameBindings="emailError:input-error loginErrors.login:input-error"
        key-up="validateEmail"
        placeholder=(t "Adres email")
        value=model.email
      }}

      <div class="main-page_form_buttons">
        <button class="button button-wide button-filled color-bg_orange {{if model.isLoading 'a-button-loading' }}" type="submit">{{t "Resetuj" }}</button>
      </div>

    {{/if}}
  </form>

  <div class="main-errors-container">
    {{#if emailError }}
      <span class="color-text_red">{{t "Adres email jest wymagany." }}</span>
    {{/if}}
  </div>

</div>
